.formatted-html {
  line-height: 1.7;
  color: #333;
}

.formatted-html h1,
.formatted-html h2,
.formatted-html h3,
.formatted-html h4,
.formatted-html h5,
.formatted-html h6 {
  font-weight: 700;
  color: #1a1a1a;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
  line-height: 1.3;
}

.formatted-html h1 { 
  font-size: 2.25em; 
  margin-top: 0;
}

.formatted-html h2 { 
  font-size: 1.875em; 
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 0.3em;
}

.formatted-html h3 { font-size: 1.5em; }
.formatted-html h4 { font-size: 1.25em; }
.formatted-html h5 { font-size: 1.125em; }
.formatted-html h6 { font-size: 1em; }

.formatted-html p {
  margin-bottom: 1.25em;
  line-height: 1.7;
}

.formatted-html ul,
.formatted-html ol {
  margin-left: 1.5em;
  margin-bottom: 1.25em;
  padding-left: 0.5em;
}

.formatted-html li {
  margin-bottom: 0.5em;
  line-height: 1.6;
}

.formatted-html strong,
.formatted-html b {
  font-weight: 700;
  color: #1a1a1a;
}

.formatted-html em,
.formatted-html i {
  font-style: italic;
}

.formatted-html a {
  color: #3b82f6;
  text-decoration: underline;
}

.formatted-html a:hover {
  color: #2563eb;
}